    @font-face {
        font-family: robotoLight;
        src: url('../fonts/roboto/Roboto-Light.woff')
    }

    @font-face {
        font-family: robotoThin;
        src: url('../fonts/roboto/Roboto-Thin.woff')
    }

    body{
      background: #F5F5F5;
    }

    nav ul a {
        font-size: 1.2rem;
    }

    .button{
      background-color: #ee6e73;
    }

    .button:hover{
      background-color: #F44336 !important;
    }
